.calendar{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% высоты экрана */
    &__row{
        flex: 1; /* Каждый ряд занимает равную высоту */
        display: flex;
        position: relative;
    }
    &__day{
        flex: 1;
        background: var(--c-calendar);
        margin: 4px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        font-weight: 900;
        display: flex;
        flex-flow: column wrap;
        &-name{
            color: var(--day-name);
            font-size: 12px;
            font-weight: 700;
            padding-bottom: 3px;
        }
    }
    &__week{
        position: absolute;
        width: 30px;
        height: 30px;
        background: #625959;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #fff;
        top: -10px;
        left: -10px;
    }
    &-time{
        display: flex;
        align-items: center;
        color: var(--c-primary);
        line-height: 1;
        justify-content: center;
        &__clock{
            display: flex;
            margin-right: 7px;
            svg{
                path{
                    fill: var(--c-primary)
                }
            }
        }
    }
    &-events{
        font-size: 12px;
        background: var(--events);
        border-radius: 5px;
        font-weight: 500;
        color: #ffffff;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        &__text{
            font-weight: 900;
        }
    }
}
.calendar-nav{
    display: flex;
    align-items: center;
    &-year{
        display: flex;
        align-items: center;
        &__buttons{
            display: flex;
            align-items: center;
            width: 250px;
            justify-content: space-between;
            .arrow-back{
                cursor: pointer;
                svg{
                    path{
                        fill: var(--c-primary);
                    }
                }
            }
            .arrow-next{
                cursor: pointer;
                svg{
                    path{
                        fill: var(--c-primary);
                    }
                }
            }
        }
        &__data{
            margin: 0 15px;
            font-size: 20px;
            span{
                &:last-child{
                    margin-left: 10px;
                }
            }
        }
    }
    &__today{
        margin-right: 20px;
    }
}

.line{
    width: 100%;
    z-index: 1;
    background: #fff;
    height: 1px;
    margin: 15px 0; 
}

.event{
    &__item{
        display: flex;
        border-bottom: 1px solid #ffffff59;
    }
    &__icon{
        margin-right: 10px;
    }
    &-text{
        &__title{
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 767px) {
    .calendar__day{
        margin: 4px;
        padding: 8px;
        font-size: 12px;
    }
    .calendar-events{
        span,div{
            display: none;
        }
    }
    .calendar__row{
        max-height: 70px;
    }
    .calendar__week{
        font-size: 12px;
    }
    .calendar__week{
        width: 22px;
        height: 22px;
        top: -5px;
        left: -5px;
        font-size: 12px;
    }
    .calendar {
        height: fit-content;
    }
    .calendar__day {
        margin: 4px;
        padding: 8px;
        font-size: 12px;
        min-height: 66px;
    }
    .calendar-events {
        padding: 3px;
    }
}
